@import "@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: 'Josefin Sans', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden !important; /* << ELIMINĂ SCROLLBAR ORIZONTAL */
  font-family: 'Segoe UI', sans-serif;
  box-sizing: border-box;
}


.spacer {
  flex: 1 1 auto;
}
